*{
  margin: 0;
  padding: 0;
  }


#root{
  background-color: black;
  height: 100%;
  width: 100%;
}

#title{
  color: grey;
  font-family: 'Quicksand', sans-serif;
  text-align: center;
}

#offsetText{
  background-color: grey;
  color: black;
  font-family: 'Quicksand', sans-serif;
  width: 100%;
  height: 80px;

}

#offsetText h2{
  margin-left: 43%;

}

#offsetNumber{
  color: black;
  margin-left: 52%;
  width: 50px;
}

#options{
  color: grey;
}

#translator{
  border: 8px solid grey;
  color: black;

}

#buttonExecute{
  color: black;

}

.fa-comment-dots{
  color: cadetblue;


}
