3#root{
  background-color: black;
  height: 800px;
}

#title{
  color: grey;
  font-family: 'Quicksand', sans-serif;
  text-align: center;
}

#offsetText{
  background-color: grey;
  color: black;
  font-family: 'Quicksand', sans-serif;
  width: 200px;
  height: 80px;
  position: relative;
  left: 42%;
}

#offsetText h2{
  margin-left: 12%;
  position: relative;
  top: 35px;
}

#offsetNumber{
  border: 5px solid black;
  color: black;
  width: 50px;
  position: relative;
  left: 52%;
  bottom: 10px;
}
#options{
  color: grey;
  position: relative;
  left: 42%;
}
#translator{
  border: 8px solid grey;
  color: black;
  position: relative;
  left: 27%;

}

#buttonExecute{
  color: black;
  position: relative;
  left: 47%;
}

.fa-comment-dots{
  color: cadetblue;
  position: relative;

}
